* {
    padding: 0;
    margin: 0;

}

#header{
    background-color: #001b70;
    height: 65px;
    padding: 5px 0;
    font-size: 20px;
}
header nav {
    background: #08118f;
    margin-bottom: 5px;
    font-size: 5px;
    }
    header nav ul {
        list-style: none;
        overflow: hidden;
        font-size: 17px;
        padding-left: 0;
        margin-bottom: 0;
    }
        header nav ul.menu  {
            float: left;
            width: 450px;
            display: inline;
        }
            header nav ul li {
                float: left;
                display: flex;
            }
            header nav ul li.logo {
                padding-left: 0;
            }
            header nav ul li.buscar {
                padding-top: 8px;
                padding-left: 0;
                background-color: #7e7f8300;
            }
            header nav ul li.buscar input {
                border-radius: 0.5em;
                background-color: #ffffff9d;
            }
            header nav ul li.buscar button {
                background-color: #7e7f83;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                border-radius: 0.5em;
            }
            header nav ul li a {
                display: block;
                padding: 11px;
                color: #fff;
                text-decoration: none;
                font-family: sans-serif;
            }
            header nav ul li a:hover {
                background: rgb(21, 127, 189);
                border-radius: 15%;
            }
        header nav ul.menu_a {
    float: right;
    display: flex;
    width: 300px;
    padding-top: 8px;
    
}
.menu-fixed {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    max-width: 1000;
    box-shadow: 0px 4px 3px rgba(0,0,0, 5);
}
.logo img{
    max-height: 70px;
    padding-left: 10px;
}

nav {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(5, 5, 5);
}

/*Aqui emíezo el section*/
#main {
    max-height: 200px;
    max-width: 100%;
    padding: 5px 0;
    
}
main section article {
        list-style: none;
        overflow: hidden;
        font-size: 17px;
        padding-left: 0;
        margin-bottom: 0;
}
    main section article ul.im {
        float: left;
        width: 260px;
        display: inline;
    }
        main section article ul li .image1 {
        width: 200px;
        }

main section article ul.vi {
    float: right;
    width: 300px;
    display: inline;
    list-style: none;
    margin-left: 15px;
}
main section article ul.descript {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5px;
    padding-left: 5px 5px;
    list-style: none;
}
    main section article ul li h1 {
        text-align: center;
        list-style: none;
}

/*Aqui hare la separacion entre contenido y aside*/
main section article.titulo_2 {
    overflow: hidden;
    padding-left: 220px;
    padding-right: 300px;
    padding-top: 35px;
    width: 100%;
}
    main section article ul li.titulo22 {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 15px;
        list-style: none;
        display: block;
    }
    main section article ul li p.font1 {
        font-family: cursive;
    }

/*Aqui empieso con aside*/
aside {
    max-height: 200px;
    max-width: 20%;
    padding: 20px ;
}
    aside ul {
        padding-left: 20px;
        list-style: none;
        font-family: cursive;
        font-size: 30px;
        
    }
    aside ul li.win7 button{
        margin: 8px 8px;
        padding: 8px;
        background-color: #e76316;
        border-radius: 0.3em;
        cursor: pointer;
        transition: 0.2s;
    }
    aside ul li.win7 button:hover {
        background-color: #001b70;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
footer.pie {
    border: solid;
    margin: 30px;
    padding: 20px 300px;
    justify-content: center;
    border-style: double;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 5%;
}
    footer.pie:hover {
        background-color: rgba(118, 122, 122, 0.815);
        transition: cubic-bezier(0.215, 0.610, 0.355, 1);
        transition-duration: 0.2s;
    }

